@import url(https://fonts.googleapis.com/css?family=Montserrat);

* {
    box-sizing: border-box;
    margin: 0;
	padding: 0;
}

.body {
    font-family: Montserrat;
    line-height: 1.42857143;
}

.page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: space-between;
}


/* Global properties */

a:active,
a:hover,
a {
    text-decoration: none;
    color: black;
}

a, p, li {
    font-family: Montserrat;
}

h1, h2 {
    margin-top: 0;
    margin-bottom: 25px;
    font-family: Montserrat;
    font-weight: normal;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eeeeee;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 10px;
}

.text-center {
    text-align: center;
}

/* Header */
/* Header HomeTop */

.homeTop-full-size {
    background: url("/media/img/css/italia_background.jpg") no-repeat 70% 100%;
    background-size: cover;
    height: 500px;
}

.homeTop-small-size {
    background: url("/media/img/css/ocean_background.jpg") no-repeat 70% 100%;
    background-size: cover;
}

.header-containerInner{
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}

.header-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 20px 0;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.header-cell {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header-logo {
    display: block;
    width: 64px;
    height: 64px;
    background: url("/media/ico/logo.png") center / contain no-repeat;
}

.header-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.header-phone {
    font-size: 18px;
    color: white;
}

.header-phoneNumberText a{
    color: white;
}

.header-officeHours {
    text-align: center;
    font-size: 12px;
    color: white;
    font-family: Montserrat;
}

.header-info .info {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 16px;
    color: white;
}

.header-info .info .icon-info {
    margin-right: 5px;
    display: block;
    width: 32px;
    height: 32px;
    background: url("/media/ico/info.png") center / contain no-repeat;
}

.header-info {
    margin-right: 20px;
}

.header-user-account .user-account {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 16px;
    line-height: .8;
    color: white;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header-user-account .user-account .icon-user-account {
    margin-right: 5px;
    display: block;
    width: 24px;
    height: 24px;
    background: url("/media/ico/user.png") center / contain no-repeat;
}


/* Header HomeFinder */

.containerInner {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}

.homeFinder {
    padding-top: 100px;
    padding-bottom: 100px;
}

.finderHome {
    color: white;
}

.finderHome .finderHome-title {
    font-size: 2.3em;
    line-height: 34px;
    color: white;
}


/* Header InfoSection */

.info-section-navigationTop {
    display: flex;
    justify-content: flex-start;
    column-gap: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.info-section-navigationTop{
    list-style-type: none;
}

.info-section-navigationTop a {
    color: white;
    font-family: Montserrat;
    font-size: 18px;
}


/* Profile */
/* Profile Login */

.profile-auth-form {
    width: 400px;
	margin: 50px auto;
	text-align: center;
	position: relative;
}

.profile-auth-form .profile-auth-container {
	background: white;
	border: 0 none;
	border-radius: 5px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
}

.profile-auth-container .profile-auth-Title {
    font-size: 1.1em;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}

.profile-auth-container .alert-info {
    color: #f53333;
}

.profile-auth-container input {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin: 10px 0 10px 0;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}

.profile-auth-container .action-button {
	background: #27AE60;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px;
	margin: 10px 5px;
    text-decoration: none;
    font-size: 14px;
}

.profile-auth-container .action-button:hover, .profile-auth-container .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}

.profile-auth-container .profile-auth-redirection {
    line-height: 1.5;
    margin-top: 10px;
}


/* HomeMain */

.homeMain {
    .padding-top: 25px;
}


/* HomeMain homeProducts */

.homeProducts {
    padding: 40px 0;
}

.homeProducts .homeProducts-header {
    text-align: center;
}

.homeProducts .homeProducts-content {
    padding-top: 20px;
}

.u-rowGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 310px);
    row-gap: 30px;
    column-gap: 20px;
    justify-content: space-evenly;
}

.homeProducts-img {
    width: 100%;
    height: 210px;
    overflow: hidden;
    margin: 0 auto;
}

.homeProducts-img .zoom {
    width: 100%;
    transition: all .5s ease;
}

.homeProducts-img .zoom:hover, .homeProducts-img .zoom:focus {
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.homeProducts-item .country-title {
    margin-top: 25px;
    text-align: center;
    height: 50px;
}

.homeProducts-item .border-in-the-center {
    height: 100%;
}

.homeProducts-item .border-in-the-center:before,
.homeProducts-item .border-in-the-center:after {
   content: '';
   display: inherit;
   width: 60%;
   margin: 10px auto;
   border-top: 1px solid #d7d7d7;
}

.homeProducts-item .country-title p {
    font-size: 1.3em;
}


/* HomeMain HomeAdvantages */

.homeAdvantages {
    padding: 25px 0;
}

.homeAdvantages-header {
    text-align: center;
}

.homeAdvantages .homeAdvantages-grid {
    padding-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 320px);
    justify-content: space-around;
}

.homeAdvantages .homeAdvantages-item-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 30px;
    text-align: center;
}

.homeAdvantages .homeAdvantages-itemIcon {
    display: block;
    width: 62px;
    height: 62px;
    margin: 0 auto 12px;
    background-size: cover;
    background-repeat: no-repeat;
}

.homeAdvantages .item1 {
    background: url("/media/ico/item1.svg");
}

.homeAdvantages .item2 {
    background: url("/media/ico/item2.svg");
}

.homeAdvantages .item3 {
    background: url("/media/ico/item3.svg");
}

.homeAdvantages .homeAdvantages-itemTitle {
    margin-bottom: 10px;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 18px;
}

.homeAdvantages .homeAdvantages-itemText {
    font-size: 16px;
    font-family: Montserrat;
    line-height: 24px;
}



/* HomeMain homeReplies */

.homeReplies {
    padding: 25px 0 70px;
}

.homeReplies .homeReplies-header {
    text-align: center;
}

.homeReplies-container {
    padding-top: 20px;
}

.homeReplies-containerInner {
    margin: 0 40px;
    display: grid;
    grid-template-columns: repeat(3, 310px);
    justify-items: center;
    column-gap: 20px;
    justify-content: center;
}

.homeReplies-containerInner-item {
    width: 100%;
}

.item-container {
    width: 290px;
    height: 100%;
    padding: 30px;
    background: white;
    -webkit-box-shadow: 0 4px 31px rgb(69 122 225 / 17%);
    box-shadow: 0 4px 31px rgb(69 122 225 / 17%);
    border-radius: 4px;
}

.containerInner-itemContent {
    padding-top: 20px;
    font-size: 14px;
}

.containerInner-itemContent, .containerInner-itemTop {
    display: grid;
    row-gap: 10px;
}

.homeReplies-containerInner-item .containerInner-itemName {
    font-weight: bold;
}

.homeReplies-containerInner-item .containerInner-itemCountry, .containerInner-itemCountry a {
    color: #4B63A2;
    font-size: 14px;
    white-space: normal;
}

.containerInner-itemContent .itemContent-Text {
    padding-top: 10px;
}

.containerInner-itemContent .date-created {
    margin-left: 10px;
    font-family: Montserrat;
    color: #444;
}


/* HomeMain Footer */

.footer {
    background-color: #EFF6FF;
}

.footer .footer-body {
    padding: 35px 0 15px;
}

.footer-bodyTop {
    display: flex;
    justify-content: space-evenly;
}


.footer-bodyTop .footer-nav .footer-navTitle {
    font-family: Montserrat;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 13px;
}

.footer-bodyTop .footer-nav .footer-navBody, .footer-navBody a {
    margin-top: 10px;
    color: #4B63A2;
    font-size: 13px;
    line-height: 1.5;
}

.footer-navBody ul {
    list-style-type: none;
}

.footer-bodyTop .footer-nav .footer-navBody .payment-ico {
    width: 37px;
}

.footer-bodyTop .footer-nav .footer-navBody .payment-ico-mastercard {
    width: 22px;
}

.footer-body .footer-container-Middle {
    margin: 40px 30px;
    text-align: center;
    font-size: 13px;
}

.footer-body .footer-container-Bottom {
    float: right;
    margin-bottom: 10px;
    font-family: Montserrat;
    font-weight: 300;
}


/* InfoSection MainPage */

.info-section-page .info-layout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    padding: 15px 0 50px;
}


.info-section-page .info-panel {
    min-width: 260px;
    display: flex;
    margin-bottom: 30px;
    -webkit-box-pack: justify;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    margin-right: 40px;
    padding: 15px 25px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #EFF6FF;
}

.info-section-page .info-nav {
    flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
    padding-right: 20px;
    white-space: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.info-section-page .info-navCell {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 0;
    padding: 12px 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
}

.is-active, .is-active:hover {
    color: #4B63A2;
}

.info-section-page .info-content {
    width: 100%;
    overflow-x: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 15px 0 50px;
}

.info-section-page .info-text p {
    margin: 0 0 10px;
}

.info-section-page .info-text ul {
    margin-top: 0;
    margin-bottom: 10px;
    list-style-type: disc;

}

.info-section-page .info-text li {
    display: list-item;
    list-style-position: inside;
    font-size: 13px;
    padding-left: 30px;
    line-height: 1.5;
}

.table-bordered {
    border: 1px solid #ddd;
}

.bg-info {
    background-color: #d9edf7;
}

table {
    border-collapse: collapse;
}

td {
    border: 1px solid #ddd;
    padding: 0;
}


@media screen and (max-width: 1015px) {
    .homeAdvantages .homeAdvantages-grid {
        grid-template-columns: repeat(1, 320px);
        row-gap: 20px;
    }

    .homeReplies .homeReplies-containerInner {
        grid-template-columns: repeat(1, 310px);
        row-gap: 20px;
    }
}




