{% extends 'base/base.html' %}
{% load static %}

{% block header %}
    {% include 'base/medium-size-header.html' %}
{% endblock %}

{% block content %}
    <div class="info-section-page">
        <div class="containerInner">
            <div class="info-layout">
                <div class="info-panel">
                    <div class="info-nav">
                        <div class="info-navCell">
                            <a class="is-active" href="{% url 'about-company' %}">О нас</a>
                        </div>
                        <div class="info-navCell">
                            <a href="{% url 'department-contacts' %}">Контакты отделов</a>
                        </div>
                        <div class="info-navCell">
                            <a href="{% url 'address' %}">Адрес и график работы</a>
                        </div>
                    </div>
                </div>
                <div class="info-content">
                    <h1>О компании / О нас</h1>
                    <div class="info-text">
                        <hr>
                        <br>
                        <p>Бренд Алиса известен в стране уже более 10 лет.</p>
                        <p>
                            Головной офис компании расположен в Москве, собственные принимающие
                            офисы туроператора работают в Санкт-Петербурге, Сочи, Геленджике, Анапе,
                            Симферополе, Кисловодске, Ростове-на-Дону, Тюмени, Минске, Баку.
                        </p>
                        <p>
                            Компания сотрудничает с 15 000 турагентств во всех
                            регионах России и странах СНГ и предлагает более 2 000
                            экскурсионных и активных туров.
                        </p>
                        <p><strong>Алеан как туроператор по мировому туризму– неоднократный лауреат:</strong></p>
                        <ul>
                            <li>
                                Всемирной ежегодной премии за достижения в области туризма
                                <strong>«Хрустальный глобус»;</strong>
                            </li>
                            <li>Национальной туристской премии <strong>«Туристический Олимп;»</strong></li>
                            <li>Национальной туристической премии<strong> им. Ю. Сенкевича;</strong></li>
                            <li>
                                Премии за выдающийся вклад в развитие туризма в Москве
                                <strong>«Путеводная звезда»</strong>
                            </li>
                        </ul>
                        <p><strong>Гранты, премии, рейтинги:</strong></p>
                        <ul>
                            <li>
                                Первое место по результатам мониторинга лояльности туроператоров к
                                розничным партнерам – 2022;
                            </li>
                            <li>
                                Первое место по итогам голосования турагентов «Лучший туроператор по России»
                                летний сезон 2022;
                            </li>
                            <li>ТОП-10 самых популярных сайтов туроператоров России – 2022 (1 место);</li>
                            <li>ТОП-10: Крупные туроператоры России, рейтинг лучших и надежных- 2022 (1 место);</li>
                            <li>Рейтинг ТОП-15 туроператоров России- 2020 (1 место);</li>
                            <li>Лауреат «ТОП Лучших социальных проектов России 2020» в номинации
                                «Лучший социальный проект России»;</li>
                        </ul>
                        <p>
                            Алиса является соучредителем и членом таких авторитетных организаций
                            как <strong>Российский Союз Туриндустрии и Ассоциация туроператоров России</strong>.
                            Туроператор выступает соорганизатором Международного туристического форума в Сочи и
                            координатором проводимого в рамках форума Конгресса.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}