{% extends 'base/base.html' %}
{% load static %}

{% block header %}
    {% include 'base/medium-size-header.html' %}
{% endblock %}

{% block content %}
    <div class="info-section-page">
        <div class="containerInner">
            <div class="info-layout">
                <div class="info-panel">
                    <div class="info-nav">
                        <div class="info-navCell">
                            <a href="{% url 'tickets' %}">Авиа и ж/д билеты</a>
                        </div>
                        <div class="info-navCell">
                            <a class="is-active" href="{% url 'booking-rules' %}">Правила бронирования</a>
                        </div>
                    </div>
                </div>
                <div class="info-content">
                    <h1>Билеты / Правила бронирования</h1>
                    <div class="info-text">
                        <hr>
                        <br>
                        <h2>Правила бронирования гарантированных (блочных) авиабилетов</h2>
                        <p>
                            <strong>ВАЖНО!</strong> Вам предложен  гарантированный (блочный) билет - в номере
                            рейса указано слово «блок», который будет оформлен за 7-10 дней до вылета, но
                            не позднее 24-часов до вылета, и прикреплен к заявке в Личном кабинете на
                            сайте. Норма бесплатного провоза багажа входит в стоимость билета и указана
                            ниже. Заполняйте все поля корректно. Внесение изменений после выписки билета
                            влечет за собой штрафные санкции
                        </p>
                        <p>
                            Забронировать гарантированные (блочные) авиабилеты можно через менеджера по телефону 8 (495)
                            2-300-300 (добавочный 2) или через Личный кабинет на нашем сайте.
		                </p>
                        <p>
                            При бронировании билетов через Личный кабинет просим вас
                            ознакомиться с пошаговой инструкцией.
                        </p>
                        <p><strong>ШАГ 1. Бронирование </strong></p>
                        <p>
                            Просим вас обратить особое внимание на
                            заполнение всех полей данных туристов. ОБЯЗАТЕЛЬНЫМИ к заполнению являются
                            поля:
                        </p>
                        <ol>
                            <li>
                                Фамилия, Имя, Отчество (отчество не указывается, только если его нет в паспорте РФ или
                                это граждане другого государства, где отчество в паспортах не указывается).
                                Если турист летит по загранпаспорту РФ – отчество указывается ОБЯЗАТЕЛЬНО.
                            </li>
                            <li>Дата рождения.</li>
                            <li>
                                Серия и номер паспорта или свидетельства о рождении для детей. Если вы летите по
                                загранпаспорту, просьба указать срок действия паспорта.
                                Если летит гражданин другого государства– укажите гражданство. Если турист
                                летит по иному документу – укажите тип документа (дипломатический паспорт,
                                военный билет и т.д.).
                            </li>
                            <li>
                                При заполнении графы «серия и номер документа» не ставятся пробелы, тире и знак номера.
                                Если тип документ «свидетельство о рождении» заполняется так: римская цифра
                                (английская раскладка)+две буквы кириллицей+6 цифр (без пробелов).
                            </li>
                            <li>
                                Изменение паспортных данных/замена пассажира без финансовых потерь возможна только
                                более чем за 15 дней до вылета.
                            </li>
		                </ol>
                        <p><strong>При отсутствии каких-либо данных – билет не оформляется!</strong></p>
                        <p><strong>ВНИМАНИЕ! Ответственность за корректность внесенных данных лежит
                        на пассажире.</strong></p>
                        <p><strong>ШАГ 2. Оплата </strong> </p>
                        <ol>
                            <li>
                                График платежей отображается в заявке в счете в Личном кабинете на
                                сайте, либо в счете, который отправляет вам на электронную почту Ваш менеджер.
                            </li>
                            <li> Оплата должна производится СТРОГО! На счет, содержащий заказ перевозки.</li>
                            <li>
                                Фактом оплаты считается
                                поступление денежных средств за авиабилеты на расчетный счет туроператора.
                            </li>
		                </ol>
                        <p>
                            В случае не поступления денежных средств на расчетный счет в указанное в графике
                            время, заявка автоматически аннулируется без предварительного уведомления.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}